/* Mobile first design */
* body{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #182337;
}

#main-page{
    width: 100%;
   background:  linear-gradient(0deg,rgba(255,255,255,.85),rgba(255,255,255,.85)),linear-gradient(252.44deg,#1ca5fc 0,#f55280 100%);

    overflow: hidden;
}
.text-titles{
    padding: 0 20px 0 20px;
    margin-bottom: 0;
}

.subText{
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(36, 36, 36);
    /* line-height: 40px; */

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70px;
    margin: 10px auto;
    border-radius: 10px;
    color: white !important;
    background-color: #0a35fa;
}

.miniText{
    text-align: center;
    font-size: 16px;
    color: #494f5e !important;
}

.nav{
    /* border: 2px solid red; */
    text-align: center;
}
.heading1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    /* margin-bottom: 25px; */
    padding-bottom: 0;
    /* border: 2px solid red; */

}

.desktopSection{
    margin: 5px auto;
    width: 80%;
    /* border: 2px solid red; */
    
}
.grpStats{
    display: flex;
    align-items: center;
    justify-content:center;
   
}
.stats{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
    padding: 10px 0 0 0;  
}


.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px ;
    padding-right: 25px ;
    margin: 15px;
    gap: 10px;
    
}
.verify{
    text-align: center;
    margin-bottom: 20px;
}

.grp-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.trust-score{
    display: flex;
    margin-top:20px ;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.score{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}

.desk-only{
    display: none;
}

.btn-desk-only{
    display: none;
}

/* section-item.--app .introduction:before {
    content: "";
    position: absolute;
    background: url(../img/blue-pill.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection:before {
    content: "";
    position: absolute;
    background: url(../img/blue-pill.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection .miniSubText:before  {
    content: "";
    position: absolute;
    background: url(../img/pink-cam.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    background: url(../img/wave.png) 50% 100% no-repeat;
    background-size: 750px;
    bottom: -1px;
    left: 0;
    z-index: 1;
} */

.small{
    display: block;
}

.big{
    display: none;
}

@media only screen and (min-width: 768px) {
    .desktopSection{
        display: flex;
        width: 100%;       
    }

    .text-titles{
       padding-left: 65px;
       padding-right: 65px;

    }

    .heading1{
        font-size: 60px;
    }

    .grpStats{
        display: none;
    }

    .miniSubText{
        display: none;
    }

    .desk-only{
        display: block;
    }

    .btn-desk-only{
        display: flex;
        margin: 10px;
    }

    .subText{
        margin-bottom: 25px;
        line-height: 40px;
        font-size: 25px;
        margin-top: 0;
    }

    .grp-imgs{
        display: block;
        padding: 20px;
        margin: 20px;
    }

    .button{
        width: 460px;
        height: 60px;
        font-size: 18px;
        border-radius: 12px;
        margin-bottom: 20px;
        background-color: #0a35fa;
    }

    .miniText{
        margin-top: 0;
    }

    .stats{
        width: 250px;
        height: 60px;
        font-size: 14px;
    }

    .small{
        display: none;
    }

    .big{
        display: block;
        width: 540px; 
        height:387px;
    }


}