/* Mobile first design */

* body{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #182337;
}

#main-page{
    width: 100%;
   background:  linear-gradient(0deg,rgba(255,255,255,.85),rgba(255,255,255,.85)),linear-gradient(252.44deg,#1ca5fc 0,#f55280 100%);
    overflow: hidden;
}

.desktopSection{
    position: relative;
}

.nav{
    padding: 20px;
}

.text-titles{
    padding: 0 20px 0 20px;
    margin-bottom: 0;
}

.subText{
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(36, 36, 36);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    /* width: 60%; */
    height: 70px;
    margin: 10px auto;
    border-radius: 10px;
    color: white !important;
    background-color: #0a35fa;
}

.button p{
    font-size: 18px;
    font-weight: 500;
}

.miniText{
    text-align: center;
    font-size: 16px;
    color: #494f5e !important;
}

.nav{
    text-align: center;
}

.heading1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 0;
}

.desktopSection{
    margin: 5px auto;
    width: 80%;  
}

.grpStats{
    display: flex;
    align-items: center;
    justify-content:center; 
}

.stats{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
    padding: 10px 0 0 0;  
}

.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px ;
    padding-right: 25px ;
    margin: 15px;
    gap: 10px; 
}

.verify{
    text-align: center;
    margin-bottom: 20px;
}

.grp-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust-score{
    display: flex;
    margin-top:20px ;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.score{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}

.desk-only{
    display: none;
}

.btn-desk-only{
    display: none;
}

/* section-item.--app .introduction:before {
    content: "";
    position: absolute;
    background: url(../img/blue-pill.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection:before {
    content: "";
    position: absolute;
    background: url(../img/blue-pill.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection .miniSubText:before  {
    content: "";
    position: absolute;
    background: url(../img/pink-cam.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    background: url(../img/wave.png) 50% 100% no-repeat;
    background-size: 750px;
    bottom: -50px;
    left: 0px;
    /* right: 0; */
    /* z-index: 2;
} */ 

.small{
    display: block;
}

.big{
    display: none;
}

.sect2title{
    color: #182337;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    padding: 0;
    font-family: inter semi bold,Arial,sans-serif;
    text-align: center;
    margin: 60px auto 40px;
    font-size: 40px;
    line-height: 48px;
    max-width: 700px;
}

#sect2{
    text-align: center;
}

.description{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    line-height: 35px;
}

.extLink{
    margin: 20px;
}

.extLink .ext{
    padding: 30px;
    font-size: 20px;
    color: #0a35fa;
}

.ext:after{
    display: inline-block;
    content: "";
    margin: -3px 6px;
    width: 20px;
    height: 20px;
    background: url(../img/watch.svg) center no-repeat;
    transition: .3s;
}

.sect3{
    display: block;
    margin-top: 50px;
}

.main-man{
    text-align: center;
    padding: 20px;
}

.main-text, .main-text2{
    padding-left: 30px;
    padding-right: 20px;
}

.main-man-image{
    color: #182337;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: center;
    width: 278px;
    aspect-ratio: auto 278 / 304;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: auto;
    max-width: 180px;
    margin: 0 auto;
}

.p-fill{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #216f1e;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: inter regular,Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.first .p-fill svg{
    margin-right: 10px;
}

.second .p-fill svg{
    margin-right: 10px;
}
.third .p-fill svg{
    margin-right: 10px;
}
.fourth .p-fill svg{
    margin-right: 10px;
}
.fifth .p-fill svg{
    margin-right: 10px;
}
.sixth .p-fill svg{
    margin-right: 10px;
}

.first{
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#ffdee7;
    color: #87344b;
}

.second{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#ffedd8;
    color: #8e6430;
}

.third{
    --vh: 5.83px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#daf4ff;
    color: #2e6277;
}

.fourth{
    --vh: 5.83px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#d9ffd8;
    color: #216f1e;
}

.fifth{
    --vh: 5.83px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#ffe4da;
    color: #925d47;
}

.sixth{
    --vh: 5.83px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    font-family: inter regular,Arial,sans-serif;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#e9e6ff;
    color: #655c9b;
}

@media only screen and (min-width: 1025px) {

    #main-page{
        overflow: hidden;
        margin: 0;
    }

    .desktopSection{
        padding: 0;
        /* margin: 0; */
        display: flex;
        width: 100%;       
    }

    /* .desktopSection:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 200px;
        background: url(../img/wave.png) 50% 100% no-repeat;
        background-size: 750px;
        bottom: -50px;
        left: 0px;
       
        z-index: 1;
    } */

    .text-titles{
       padding-left: 65px;
       padding-right: 65px;

    }

    .heading1{
        font-size: 60px;
    }

    .grpStats{
        display: none;
    }

    .miniSubText{
        display: none;
    }

    .desk-only{
        display: block;
    }

    .btn-desk-only{
        display: flex;
        margin: 10px;
    }

    .subText{
        margin-bottom: 25px;
        line-height: 40px;
        font-size: 25px;
        margin-top: 0;
    }

    .grp-imgs{
        display: block;
        flex-basis: 80%;
        padding: 20px;
        margin: 20px;
    }

    .button{
        max-width: 460px  !important;
        height: 60px;
        font-size: 18px;
        border-radius: 12px;
        margin-bottom: 20px;
        background-color: #0a35fa;
    }

    .miniText{
        margin-top: 0;
    }

    .miniSubText{
        width: 100%;
    }

    .stats{
        width: 250px;
        height: 60px;
        font-size: 14px;
       
    }

    .small{
        display: none;
    }

    .big{
        display: block;
        width: 100%; 
        height:387px;
    }

    .sect3{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .main-text{
        order: 1;
        margin-top: 30px;
        
    }

    .main-man{
        text-align: center;
        order: 2;
        margin-top: 0;
    }

    .main-text2{
        order:3 ;
        margin-top: 30px;
        
    }

    .description{
        padding-left: 130px;
        padding-right: 130px;
        font-size: 20px;
        line-height: 35px;
    }

    .first, .second, .third, .fourth, .fifth, .sixth {
        position: relative;
        text-align: left;
        height: auto;
        padding: 30px 56px 30px 30px;
        width:100%;
       margin-bottom: 20px;
    }

    .main-text :after{
        content:"";
        position: absolute;
        width: 42px;
        height: 42px;
    }

    .main-text2 :after{
        content:"";
        position: absolute;
        width: 42px;
        height: 42px;
    }

    .first:after{
        background:url(../img/first.svg) no-repeat;
        right: -35px;
        top: 37px;
    }

    .second:after{
        background:url(../img/second.svg) no-repeat;
        right: -35px;
        top: 30px;
    }

    .third:after{
        background:url(../img/third.svg) no-repeat;
        right: -35px;
        top: 5px;
    }

    .fourth:after{
        background:url(../img/fourth.svg) no-repeat;
        left: -30px;
        top: 30px;
    }

    .fifth:after{
        background:url(../img/fifth.svg) no-repeat;
        left: -30px;
        top: 35px;
    }

    .sixth:after{
        background:url(../img/sixth.svg) no-repeat;
        left: -30px;
        top: 7px;
    }
   

    .main-man-image{
        margin: 0 40px;
        max-width: 300px;
        height: auto;
    }
   
}