/* Mobile first design */

* body{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #182337;
}

#main-page{
    width: 100%;
   background:  linear-gradient(0deg,rgba(255,255,255,.85),rgba(255,255,255,.85)),linear-gradient(252.44deg,#1ca5fc 0,#f55280 100%);
    overflow: hidden;
}

.desktopSection{
    position: relative;
}

.nav{
    padding: 20px;
}

.text-titles{
    padding: 0 20px 0 20px;
    margin-bottom: 0;
}

.subText{
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(36, 36, 36);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 70px;
    margin: 10px auto;
    border-radius: 10px;
    color: white !important;
    background-color: #0a35fa;
}

.button p{
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
}

.miniText{
    text-align: center;
    font-size: 16px;
    color: #494f5e !important;
}

.nav{
    text-align: center;
}

.logo{
    margin: 10px auto;
}

.heading1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 0;
}

.desktopSection{
    margin: 5px auto;
    width: 80%;  
}

.grpStats{
    display: flex;
    align-items: center;
    justify-content:center; 
}

.stats{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
    padding: 10px 0 0 0;  
}

.ratings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px ;
    padding-right: 25px ;
    margin: 15px;
    gap: 10px; 
}

.verify{
    text-align: center;
    margin-bottom: 20px;
}

.grp-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust-score{
    display: flex;
    margin-top:20px ;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.trust-score-txt{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.score{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}

.desk-only{
    display: none;
}

.btn-desk-only{
    display: none;
}

/* .desktopSection:before {
    content: "";
    position: absolute;
    background: url(../img/blue-pill.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection .miniSubText:before  {
    content: "";
    position: absolute;
    background: url(../img/pink-cam.svg) no-repeat;
    width: 90px;
    height: 120px;
    left: 50%;
    margin-left: 0;
    bottom: -25px;
    z-index: 2;
    background-size: contain;
} */

/* .desktopSection:after {
    content: "";
    position: absolute;
    width: 100%;
    height:150px;
    background-size:150px;
    background: url(../img/new-wave.png) 50% 100% no-repeat;
    margin: 0;
    padding: 0;
    bottom: -95px;
    left: 0px;
    right: 0;
    z-index: 1;
}  */


.small{
    display: block;
    width: 320px;
    margin-bottom: 200px;

}

.big{
    display: none;
}

.sect2title{
    color: #182337;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    padding: 0;
    font-family: inter semi bold,Arial,sans-serif;
    text-align: center;
    margin: 60px auto 40px;
    font-size: 40px;
    line-height: 48px;
    max-width: 700px;
}

#sect2{
    text-align: center;
}

.description{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    line-height: 35px;
}

.extLink{
    margin: 20px;
}

.extLink .ext{
    padding: 30px;
    font-size: 20px;
    color: #0a35fa;
}

.ext:after{
    display: inline-block;
    content: "";
    margin: -3px 6px;
    width: 20px;
    height: 20px;
    background: url(../img/watch.svg) center no-repeat;
    transition: .3s;
}

.sect3{
    display: block;
    margin-top: 50px;
}

.main-man{
    text-align: center;
    padding: 20px;
}

.main-text, .main-text2{
    padding-left: 30px;
    padding-right: 20px;
}

.main-man-image{
    color: #182337;
    text-align: center;
    width: 278px;
    aspect-ratio: auto 278 / 304;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: auto;
    max-width: 180px;
    margin: 0 auto;
}

.p-fill{
    color: #216f1e;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.first .p-fill svg{
    margin-right: 10px;
}

.second .p-fill svg{
    margin-right: 10px;
}
.third .p-fill svg{
    margin-right: 10px;
}
.fourth .p-fill svg{
    margin-right: 10px;
}
.fifth .p-fill svg{
    margin-right: 10px;
}
.sixth .p-fill svg{
    margin-right: 10px;
}

.first{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#ffdee7;
    color: #87344b;
}

.second{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#ffedd8;
    color: #8e6430;
}

.third{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,.5) 0,rgba(255,255,255,0) 100%),#daf4ff;
    color: #2e6277;
}

.fourth{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#d9ffd8;
    color: #216f1e;
}

.fifth{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#ffe4da;
    color: #925d47;
}

.sixth{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 56px;
    margin-bottom: 10px;
    text-align: left;
    padding: 17px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,rgba(255,255,255,.5) 100%),#e9e6ff;
    color: #655c9b;
}

.ready-to{
    color: #182337;
    font: inherit;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    background-clip: padding-box;
    display: block;
    align-items: center;
    text-align: center;
    padding: 8px 8px 8px 20px;
    margin: 40px auto;
    border-radius: 12px;
    width: auto;
    min-width: min-content;
    max-width: max-content;
}

.ready-to-icon{
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: inter semi bold,Arial,sans-serif;
    margin-bottom: 20px;
    margin-right: 25px;
    font-size: 20px;
    line-height: 32px;
}

.ready-to-btn{
    box-sizing: border-box;
    outline: 0;
    border: 0;
    resize: none;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
    max-width: 430px;
    width: auto;
    padding: 20px 30px;
    height: 60px;
    line-height: 22px;
    font-family: inter semi bold,Arial,sans-serif;
    color: #fff;
    background: #0a35fa;
    box-shadow: 0 0 20px rgba(255,255,255,.2) inset;
    border-radius: 10px;
    margin-bottom: 0;
    min-width: 320px;
    font-size: 20px;
}

.ready-to-icon span{
    color: #182337;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 0;
    border: 0;
}
.features{
    display: block;
}

.sect3Title{
    font-size: 28px;
    line-height: 34px;
    font-family: inter semi bold,Arial,sans-serif;
    margin-bottom: 40px;
    text-align: center;
}

.featureText{
    margin: 20px;
}

.featureText p{
    position: relative;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    padding-left: 30px;
    color: #494f5e
}

.featureText p:before{
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 24px;
    height: 24px;
    background: url(../img/point-c.svg);
    background-size: contain
}

.featureText p:after{
    content: "";
    position: absolute;
    left: 7px;
    top: 22px;
    height: 100%;
    width: 1px;
    background: #0a35fa;
    filter: alpha(opactiy=25);
    opacity: .25
}

.featureText p:last-child:after {
    display: none
}

.featureText h3{
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px
    
}
.featureImgDiv{
    padding: 10px;
    margin-top: 20px;
}

.featureImg, .featureImg2{
    color: #182337;
    width: 580px;
    aspect-ratio: auto 580 / 468;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
}

.benefit-item{
    position: relative;
    padding: 24px 24px 30px;
    box-sizing: border-box;
    margin: 30px;
    background: #fff;
    background-clip: padding-box;
    border:1px solid transparent;
    border-radius: 20px;
    
}

.benefit-item:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to right,rgba(245,82,128,.2509803922),rgba(28,165,252,.2509803922))
}

.benefit-item-subtite{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    color: #182337;
    margin-bottom: 30px;

}

.icon{
    text-align: left;
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-shadow: inset 0 -4px 18.5641px rgba(255,255,255,.25),inset 3.71282px 3.71282px 18.5641px rgba(255,255,255,.1);
    filter: drop-shadow(0 18.5641px 18.5641px rgba(155,229,147,.35));
    display: inline-block;
    margin-right: 22px;
    min-width: 90px;
    height: 84px;
}

.icon svg{
    text-align: left;
    color: #182337;
    font: inherit;
    fill: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}



.icon-txt{
    text-align: left;
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    line-height: 28px;
    font-size: 22px;
}

.benefit-item-subtitle span{
    color: #182337;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;   
}

.sect6{
    text-align: center;
    margin-bottom: 50px;
}

.sect6-title{
    font-size: 30px;
    padding: 20px;
}

.sect6-txt{
    font-size: 20px;
    padding-left: 20px;
    padding-right:20px ;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 40px;
}



.map-img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.icon2{
    text-align: left;
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 22px;
    min-width: 90px;
    height: 84px;
    
}

.icon2 svg{
    text-align: left;
    color: #182337;
    font: inherit;
    fill: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.icon-txt2{
    text-align: left;
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 600;
    line-height: 28px;
    font-size: 25px;

}

.icon-span{
    color: #182337;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
}

.sect7{

    padding: 40px;
    background:  linear-gradient(0deg,rgba(255,255,255,.85),rgba(255,255,255,.85)),linear-gradient(252.44deg,#1ca5fc 0,#f55280 100%);

}

.sect7-title{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.txt-div{
    font-weight: 500;
    font-size: 30px;
   text-align: center;
    
}

.sect8-div-1 p{
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 30px;
    margin: 50px;
    color: #182337;
    text-align: center;
}

.sect8{
    padding-top: 60px;
}

.sect8-title{
    font-size: 34px;
    font-weight: 600;
}
.sect8-div-2-img{
    width: 658px;
    aspect-ratio: auto 658 / 689;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
}
.sect8-div-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-links{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.app-links-item{
    color: #182337;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 6px;
}

.apple-store{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #0a35fa;
    font-family: inter regular,Arial,sans-serif;
    display: inline-block;
    width: 160px;
    height: 46px;
    transition: .3s;
    background: url(../img/apple.svg) center no-repeat;
    background-size: contain;
}

.google-store{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #0a35fa;
    font-family: inter regular,Arial,sans-serif;
    display: inline-block;
    width: 160px;
    height: 46px;
    transition: .3s;
    background: url(../img/google.svg) center no-repeat;
    background-size: contain;
}

footer{
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    display: block;
    padding: 30px 20px;
    background: linear-gradient(180deg,#fff 0,rgba(255,255,255,0) 100%),#fff;
    box-shadow: 0 -1px 20px rgba(0,0,0,.07);
}

.footer-nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #efefef;
}

.footer-menu{
    text-align: justify;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    margin-top: 0;
    width: 100%;
    max-width: 490px;
}


.footer-menu li {
    display: block;
    width: auto;
    margin: 0 22px
}

.footer-menu li a{
    text-decoration: none;
    color: #9699a3;
}


.footer-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center
}

.footer-support{
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.footer-coop{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #9699a3;
}

.footer-coop p{
    text-align: center;
    color: #9699a3;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: inter regular,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.copyright__over{
    text-align: center;
    color: #9699a3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    white-space: normal!important;
    letter-spacing: -0.8px;
}
.coopyright{
    color: #9699a3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
}

.rights-reserved{
    text-align: center;
    color: #9699a3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    line-height: 20px;
}

.footer-support span{
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    flex: 0 0 100%;
    order: 1;
    margin-bottom: 0;
    margin-top: 20px;
}

.footer-support span a{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #9699a3;
}

.footer-support a{
    text-decoration: none;
    color: #9699a3 !important;

}

.--rta{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

.--asacp{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

.--safelabeling{
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    max-width: 125px;
    background: url(../img/safelabering.png) center no-repeat;
    background-size: contain;
    width: 120px;
    height: 38px
}

.--miss{
    color: #182337;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    max-width: 125px;
    background: url(../img/miss.png) center no-repeat;
    background-size: contain;
    width: 135px;
    height: 38px;
}

.accordion{
    color: #182337;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.accordion-item{
    color: #182337;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 12px !important;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.05),inset 0 1px 0 #fff;
    width: 70%;
    cursor: pointer;

}

.accordion-button{
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    padding-right: 45px !important;
    color: #0a35fa !important;
    font-size: 20px !important;
    line-height: 24px;
}

.accordion-body{
    color: #182337;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    display: block;
}


.accordion-button:after{
    border: 2px solid #0a35fa;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right:12px ;
    padding-left: 12px;
    border-radius: 50%;
    font-size: 10px;
    color:  #0a35fa !important;

}




@media only screen and (min-width: 1025px) {

    #main-page{
        overflow: hidden;
        margin: 0;
    }

    .desktopSection{
        display: flex;
        padding: 0;
        width: 100%;       
    }

    .desktopSection:before {
        content: "";
        position: absolute;
        background: url(../img/blue-pill.svg) no-repeat;
        width: 70px;
        height: 120px;
        left: 45%;
        margin-left: 0;
        bottom: 1px;
        z-index: 1;
        background-size: contain;
    }
    
    .desktopSection .miniSubText:before  {
        content: "";
        position: absolute;
        background: url(../img/pink-cam.svg) no-repeat;
        width: 90px;
        height: 120px;
        left: 55%;
        margin-left: 0;
        bottom: -25px;
        z-index: 2;
        background-size: contain;
    }
    

    .desktopSection:after {
        content: "";
        position: absolute;
        width: 100%;
        height:230px;
        background: url(../img/wave.png) 50% 100% no-repeat;
        background-size: 1520px;
        margin: 0;
        padding: 0;
        bottom: -60px;
        left: 0px;
        right: 0;
        z-index: 1;
    }
    

    .text-titles{
       padding-left: 65px;
       padding-right: 65px;

    }

    .heading1{
        font-size: 65px;
        width: 500px;
        margin: 0 auto;
    }

    .grpStats{
        display: none;
    }

    .miniSubText{
        display: none;
    }

    .desk-only{
        display: block;
    }

    .btn-desk-only{
        display: flex;
        margin: 10px;
    }

    .subText{
        margin-bottom: 25px;
        padding-left:45px ;
        padding-right: 45px;
        line-height: 35px;
        font-size: 28px;
        margin-top: 0;
    }

    .grp-imgs{
        display: block;
        flex-basis: 100%;
        padding: 20px;
        margin: 20px;
        margin-bottom: 130px;
    }

    .button{
        max-width: 420px  !important;
        height: 60px;
        font-size: 18px;
        border-radius: 12px;
        margin-bottom: 20px;
        background-color: #0a35fa;
    }

    .miniText{
        margin-top: 0;
        font-size: 18px;
    }

    .miniSubText{
        width: 100%;
    }

    .stats{
        width: 250px;
        height: 60px;
        font-size: 14px;
       
    }

    .small{
        display: none;
    }

    .big{
        display: block;
        width: 100%; 
        height:387px;

    }

    .sect3{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .main-text{
        order: 1;
        margin-top: 30px;
        
    }

    .main-man{
        text-align: center;
        order: 2;
        margin-top: 0;
    }

    .main-text2{
        order:3 ;
        margin-top: 30px;
        
    }

    .description{
        padding-left: 130px;
        padding-right: 130px;
        font-size: 20px;
        line-height: 35px;
    }

    .first, .second, .third, .fourth, .fifth, .sixth {
        position: relative;
        text-align: left;
        height: auto;
        padding: 30px 56px 30px 30px;
        width:100%;
       margin-bottom: 20px;
    }

    .main-text :after{
        content:"";
        position: absolute;
        width: 42px;
        height: 42px;
    }

    .main-text2 :after{
        content:"";
        position: absolute;
        width: 42px;
        height: 42px;
    }

    .first:after{
        background:url(../img/first.svg) no-repeat;
        right: -35px;
        top: 37px;
    }

    .second:after{
        background:url(../img/second.svg) no-repeat;
        right: -35px;
        top: 30px;
    }

    .third:after{
        background:url(../img/third.svg) no-repeat;
        right: -35px;
        top: 5px;
    }

    .fourth:after{
        background:url(../img/fourth.svg) no-repeat;
        left: -30px;
        top: 30px;
    }

    .fifth:after{
        background:url(../img/fifth.svg) no-repeat;
        left: -30px;
        top: 35px;
    }

    .sixth:after{
        background:url(../img/sixth.svg) no-repeat;
        left: -30px;
        top: 7px;
    }
   

    .main-man-image{
        margin: 0 40px;
        max-width: 300px;
        height: auto;
    }

    .features{
        display: flex;
        justify-content:space-between;
    }

    .ready-to{
        color: #182337;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font: inherit;
        vertical-align: baseline;
        position: relative;
        box-sizing: border-box;
        background: #fff;
        background-clip: padding-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 8px 8px 8px 20px;
        border: 2px solid #ffebf1;
        margin: 30px auto;
        border-radius: 12px;
        width: auto;
        min-width: min-content;
        max-width: max-content;
    }

    .ready-to-icon{
        font-size: 24px;
        margin-bottom: 0;
    }

    .sect3Title{
        margin-top: 100px;
    }

    .featureImgDiv{
        padding-top: 60px;
        flex-basis: 45%;
    }

    .featureImg{
        color: #182337;
        max-width: 790px;
        /* aspect-ratio: auto 580 / 468; */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        height: auto;
    }

    .featureText {
        width:45% ;
    }

    .featureText p{
        font-size: 21px;
        line-height: 30px;
    }

    .featureText2{
        order:2;
    }

    .benefit-items{
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 0.5%;
       margin-left: 6%;
    
    }

    .benefit-item span{
      font-size: 20px;
      line-height: 30px;
    }

    .icon-txt{
        font-weight: 600;
        font-size: 22px;
    }

    .map{
        width: 1621px;
        aspect-ratio: auto 1621 / 803;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        max-width: 100%;
        height: auto;
    }

    .sect6-txt{
        font-size: 20px;
        padding-left: 200px;
        padding-right:200px ;
        padding-top: 10px;
        padding-bottom: 20px;
        line-height: 40px;
    }

    .map-items{
        display: flex;
    }

    .map-item{
        flex-basis: 30%;
        height: 150px;
    }

    .sect8{
        display: flex;
    }


    .txt-div{
        font-weight: 600;
        font-size: 36px;
        padding-left: 45px;
        max-width: 405px;
    }

    .sect8-div-1 p{
        box-sizing: border-box;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
        font-size: 21px;
        line-height: 30px;
        margin: 50px;
        color: #182337;
        text-align: left;
    }

    .sect8-div-1{
        margin-top: 90px;
    }

    .sect8-title{
        text-align: left;
    }

    .sect8-div-2-img{
        max-width: 600px;
        height: auto;
    }

    .app-links{
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left:40px;

    } 

    .footer-support{
        color: #182337;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #efefef;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        text-align: justify;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    
    .footer-support span{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        display: block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        flex: 1;
        margin-top: 0;
        order: 0;
        max-width: 260px;
        text-align: right;
    }

    .footer-nav{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #efefef;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: justify;
        justify-content: space-between;
    }

    .--rta{
        text-align: justify;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        transition: .2s;
        font-family: inter regular,Arial,sans-serif;
        outline: 0;
        text-decoration: none;
        color: #1987cd;
    }
    
    .--asacp{
        text-align: justify;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
        transition: .2s;
        color: #0a35fa;
    }
    
    
   
}